* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* 
:root {
  --sidebar-color: #2539eb;
  --nav-footer: #dddddd;
} */

.main .cntr {
  display: flex;
  height: 100vh;
  background-color: rgb(225, 225, 225);
}

nav {
  height: 70px;
  background-color: white;
  margin-left: 2px;
}
nav .user {
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

nav .dropdown i {
  font-size: 20px;
}
nav  .user .dropdown .dropdown-menu {
  margin-top: 10px;
  box-shadow: 0px 3px 5px rgb(190, 190, 190);
}

nav .user span {
  font-weight: bold;
  font-size: 20px;
}


nav .alert-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  float: left;
}

/* for success alert when project upload and update */
nav .alert-box .alert-massege {
  background-color: #04aa6d  ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 0px 20px;
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
  
}

/* for delete alert message */
nav .alert-box .alert-danger{
  background-color: #dc3545;
}

nav .alert-text {
  font-size: 15px;
  letter-spacing: 0.5px;
}

/* alert colose buttton */
nav .closebtn {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

nav .closebtn:hover {
  color: black;
}



/* for right section */
.main .cntr .right_sec {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mid .page_scroll {
  height: 90vh;
  overflow-y: scroll;
}


/* for side name faizan */
/* .profile {
  background-color: white;
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile span {
  color: #009acd;
} */

.cntr .menu {
  width: 250px;
  height: 100vh;
  background-color: white;
}
.main .cntr .sidebar {
  width: 250px;
  height: 100vh;
}

.cntr .menu .menu-container {
  padding-top: 40px;
}

.cntr .menu .item {
  position: relative;
  cursor: pointer;
}

.cntr .menu .item a {
  color: black;
  position: relative;
  font-weight: bold;
  padding: 15px 0px 15px 50px ;
  display: block;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s ease-out;
}

.item i {
  margin-right: 20px;
  font-size: 20px;
}


.fa-angle-down {
  margin-left: 20px;
  transform: rotate(-90deg);
  transition: transform 0.3s ease; /* Add transition for smooth rotation */
}

.item:hover .fa-angle-down {
  transform: rotate(0deg); /* Rotate the icon 90 degrees when hovering */
}


.cntr .menu .item a:hover {
  background-color: rgb(40, 83, 183);
  color: white;
}

/* for dropdown menu */
.cntr .menu .item .dropdown-content{
  display: none;
  background-color:rgb(240, 240, 240);
}

.cntr .menu .item .dropdown-content a {
  padding: 15px 0px 15px 80px ;
}

.cntr .menu .item .dropdown-content a:hover {
  background-color:dimgrey;
  color: white;
}

.cntr .menu .item:hover .dropdown-content {
  display: block;

}


/* for email page */
.page_scroll .date_time{
  float: right;
}
.mid .page_scroll .email-content {
  margin: 20px 100px;
  border: 1px solid gray;
  padding: 15px;
}

.mid .page_scroll .email-content h2 {
  font-size: 18px;
  color: rgb(116, 83, 83);
  letter-spacing: 1px;
}

.mid .page_scroll .email-content h2 span {
  color: black;
  font-size: 15px;
  white-space: pre-wrap;
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}


/* for edit detail page css */
.mid .page_scroll .content-container {
  padding: 20px 30px;
}

.mid .content-container .int-box {
  padding: 15px;
  border: 1px solid gray;
  margin: 20px 0px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.int-btn {
  justify-content: flex-end;
  display: flex;
}

.content-container .int-box ul li {
  list-style: none;
  margin: 10px 0;
}

.content-container .int-box ul li span {
  color: gray;
  font-size: 14px;
}

.int-box ul li a {
  text-decoration: none;
  color: #009acd;
}

.int-box ul {
  position: relative;
}
.int-box ul .icon-cntr {
  position: absolute;
  left: 35%;
  transform: translate(50%, 50%);
}

.int-box ul .icon-cntr a {
  margin-right: 20px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.content-container .pro-box {
  margin-bottom: 15px;
}

.mid .content-container .int-box img {
  border-radius: 10px;
  width: 200px;
}
/* .error-msg {
  color: rgb(204, 60, 60);
} */

/* for services page */
.mid .content-container table {
  width: 100%;
  border-collapse: collapse;
}

.mid .content-container table th,
td {
  text-align: left;
  padding: 8px;
}

.mid .content-container table th {
  background-color: rgb(152, 152, 152);
}

.mid .content-container table tbody .act-btn {
  display: flex;
  height: 100%;
}


.form-input{
  width: 100%;
  outline: none;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: black solid 1px;
}
.form-input:focus{
  border: 1px solid #009acd;
}




/* for Dashboard */
.Overview {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dashboard-container {
  display: flex;
}
.dashboard-container .twodashboard {
    width: fit-content;
}

.dashboard-container .twodashboard .dashboard1 {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-container .card {
  width: 200px;
  height: 220px;
  border: none;
  align-items: center;
  justify-content: center;
}
.dashboard-container i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container .fa-eye,
.dashboard-container .fa-user-group {
  color: rgb(225, 174, 45);
  background-color: rgb(255, 241, 201);
}


.dashboard-container .fa-envelope,
.dashboard-container .fa-dollar-sign {
  color: rgb(114, 45, 225);
  background-color: rgb(225, 206, 255);
}

.dashboard-container .card h2 {
  font-weight: bold;
  margin-top: 20px;
}
.dashboard-container .card span {
  margin-top: -5px;
  font-size: 13px;
}
.dashboard-container .card2 {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 350px;
  margin-top: 20px;
}
.dashboard-container .card3 {
  height: 100%;
}

